@page 
@model IndexModel
@{
    ViewData["Title"] = "Дополнительное образование";
}

<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<div class="text-center">
    <h3>Добро пожаловать на сайт нашей организации!</h3>
    <hr />
    <p class="fig" align="center">
        <img src="https://sun9-25.userapi.com/c626920/v626920423/3ebcc/NTxvU30PMsc.jpg" height="400" width="600"/>
    </p>

    <hr />
    <h4>
        Вы можете подать заявку от лица школы или подтвердить/отменить любую из текущих заявок,
        если являетесь нашим преподавателем.
    </h4>
</div>
